*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

.header {
    width: 100%;
    height: 100px;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-evenly;
}
#aaa {
    color: black;
    font-weight: bolder;
    font-size: 25px;
    
}


.nav {
    width: 30%;
    height: 100%;
    /* border: 1px solid black; */
}

.nav2 {
    width: 100%;
    height: 600px;
    /* border: 1px solid black; */
    border-bottom: 1px solid black;
    
}
.nav2 ul li {
    list-style: none;
    padding-top: 10px;
}
.nav2 ul li a {
    text-decoration: none;
    color: black;
    font-size: 25px;  
}
.nav2 ul li a:hover {
    border-bottom:  2px solid black;
    
}
.nav3 {
    width: 100%;
    height: 250px;
    /* border: 1px solid black; */
}

.nav3 ul li {
    list-style: none;
    padding-top: 10px;
}
.nav3 ul li a {
    text-decoration: none;
    color: black;
    /* font-size: 25px;   */
}


.text {
    width: 30%;
    height: 100%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.callus {
    width: 30%;
    height: 100%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.callus p {
    padding-left: 200px;
    font-size: 20px;
}

.callus span {
    padding-left: 15px;
}

.img1 {
    width: 100%;
    height: 600px;
    /* border: 1px solid black; */
    background-image: url(https://in.louisvuitton.com/images/is/image//content/dam/lv/editorial-content/New-Homepage/2024/central/collections/core_values_campaign/Core_Values_Campaign_WW_HP_Push_V20250518_DI3.jpg?wid=2400);
    background-size: cover;
    /* background-position: center; */
}

.img1 img {
    width: 100%;
    height: 100%;
}

.selection{
    width: 100%;
    height: 100px;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 50px;
}
.selection2{
    width: 100%;
    height: 1000px;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.select{
    width: 80%;
    height: 900px;
    /* border: 1px solid black; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
.sel1{
    width: 24%;
    height: 450px;
    /* border: 1px solid black; */
    text-align: center;
}
.sel1 img {
    width: 100%;
    height: 85%;
}

.collection1{
    width: 100%;
    height: 150px;
    /* border: 1px solid black; */
    text-align: center;
}
.collection1 a {
    color: black;
}

.cooll1{
    /* width: 100%; */
    height: 800px;
    /* border: 1px solid black; */
    background-image: url(https://player.louisvuitton.com/media/img/poster/video/1920x1080/1489/1489289.jpg);
    background-size: cover;
    background-position: center;
}